# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\学校文件\学科文件\2020-2021年度大三\2020-2021年度大三上学期\网站设计与制作\Homework-of-HTML5\20201022\mysite\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
